@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: PT Sans;
    color: rgb(100, 102, 105);
}

body {

    max-width: 100vw;

    >#root {

        >.App {
            height: 100vh;
            display: flex;
            flex-direction: column;
            padding: 0 1em;
            background-color: rgb(50, 52, 55);
            // background-color: rgb(255, 234, 0);

            >h1 {
                text-align: center;
                padding-top: 4em;
                flex-basis: 25%;
            }

            

        }
    }

}